html {
  font-size: 62.5%;
}
@media (max-width: 768px) {
  html {
    font-size: 1.3020833333vw;
  }
}

body {
  margin: 0;
}

main {
  opacity: 1;
}
main header {
  background: #6B717E;
  padding: 10rem;
}
main header h1 {
  font-size: 3rem;
  text-align: center;
}
main section {
  width: 100vw;
}
main section > div {
  max-width: 140rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  padding: 10rem 0;
}
main button {
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.25);
  width: 18.1818181818vw;
  height: 18.1818181818vw;
}
main .border {
  background-color: #EFAAC4;
}
main .border > div > button {
  width: 18.1818181818vw;
  height: 18.1818181818vw;
  background-color: #eee;
  font-size: 2rem;
}
@media (min-width: 1400px) {
  main .border > div > button {
    width: 25.5rem;
  }
}
main .border > div > button:nth-child(1) {
  position: relative;
}
main .border > div > button:nth-child(1):before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  transition: all 1s;
}
main .border > div > button:nth-child(1):after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 0;
  transition: all 1s;
}
main .border > div > button:nth-child(1):hover:before {
  width: 100%;
  height: 100%;
  border-top: 5px solid #000;
  border-left: 5px solid #000;
}
main .border > div > button:nth-child(1):hover:after {
  width: 100%;
  height: 100%;
  border-bottom: 5px solid #000;
  border-right: 5px solid #000;
}
main .border > div > button:nth-child(2) {
  position: relative;
}
main .border > div > button:nth-child(2):before {
  content: '';
  position: absolute;
  top: -5%;
  left: -5%;
  width: 20%;
  height: 20%;
  border-top: 5px solid #000;
  border-left: 5px solid #000;
  transition: all .5s;
}
main .border > div > button:nth-child(2):after {
  content: '';
  position: absolute;
  bottom: -5%;
  right: -5%;
  width: 20%;
  height: 20%;
  border-bottom: 5px solid #000;
  border-right: 5px solid #000;
  transition: all .5s;
}
main .border > div > button:nth-child(2):hover:before {
  width: 100%;
  height: 100%;
}
main .border > div > button:nth-child(2):hover:after {
  width: 100%;
  height: 100%;
}
main .border > div > button:nth-child(3) {
  position: relative;
}
main .border > div > button:nth-child(3):before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-left: 5px solid #000;
  transition: all .5s;
}
main .border > div > button:nth-child(3):after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 0;
  border-right: 5px solid #000;
  transition: all .5s;
}
main .border > div > button:nth-child(3) > span:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0;
  border-bottom: 5px solid #000;
  transition: all .5s;
}
main .border > div > button:nth-child(3) > span:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-top: 5px solid #000;
  transition: all .5s;
}
main .border > div > button:nth-child(3):hover:before {
  width: 100%;
  height: 100%;
}
main .border > div > button:nth-child(3):hover:after {
  width: 100%;
  height: 100%;
}
main .border > div > button:nth-child(3):hover > span:before {
  width: 100%;
  height: 100%;
}
main .border > div > button:nth-child(3):hover > span:after {
  width: 100%;
  height: 100%;
}
main .border > div > button:nth-child(4) {
  position: relative;
}
main .border > div > button:nth-child(4):before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-left: 5px solid #000;
  transition: all .2s linear;
}
main .border > div > button:nth-child(4):after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 0;
  border-right: 5px solid #000;
  transition: all .2s linear;
}
main .border > div > button:nth-child(4) > span:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0;
  border-bottom: 5px solid #000;
  transition: all .2s linear;
}
main .border > div > button:nth-child(4) > span:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-top: 5px solid #000;
  transition: all .2s linear;
}
main .border > div > button:nth-child(4):hover:before {
  width: 100%;
  height: 100%;
}
main .border > div > button:nth-child(4):hover:after {
  width: 100%;
  height: 100%;
  transition-delay: .4s;
}
main .border > div > button:nth-child(4):hover > span:before {
  width: 100%;
  height: 100%;
  transition-delay: .2s;
}
main .border > div > button:nth-child(4):hover > span:after {
  width: 100%;
  height: 100%;
  transition-delay: .6s;
}
main .move {
  background-color: #FFC4D1;
}
main .move > div > button {
  background-color: #eee;
  font-size: 2rem;
  border-radius: 18.1818181818vw;
}
@media (min-width: 1400px) {
  main .move > div > button {
    width: 25.5rem;
    height: 25.5rem;
    border-radius: 25.5rem;
  }
}
main .move > div > button:nth-child(1):hover {
  animation: vibe .1s ease forwards;
  animation-iteration-count: 3;
}
main .move > div > button:nth-child(2) {
  transition: all .5s;
}
main .move > div > button:nth-child(2):hover {
  transform: scale(1.2);
}
main .move > div > button:nth-child(3) {
  transition: all 1s;
}
main .move > div > button:nth-child(3):hover {
  transform: rotateY(360deg);
}
main .move > div > button:nth-child(4) {
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.25);
  transition: all .5s;
}
main .move > div > button:nth-child(4):hover {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25);
  transform: translateY(-1rem);
}
main .color {
  background-color: #FFE8E1;
}
main .color > div > button {
  background-color: #d8d8d8;
  font-size: 2rem;
  border: 2px solid #000;
  border-radius: 18.1818181818vw;
}
@media (min-width: 1400px) {
  main .color > div > button {
    width: 25.5rem;
    height: 25.5rem;
    border-radius: 25.5rem;
  }
}
main .color > div > button:nth-child(1) {
  transition: .5s;
}
main .color > div > button:nth-child(1):hover {
  background: #ff0000;
}
main .color > div > button:nth-child(2) {
  position: relative;
  overflow: hidden;
  border: 1px solid #0000ff;
}
main .color > div > button:nth-child(2):before {
  content: '';
  background-color: #ff0000;
  width: 36.3636363636vw;
  height: 27.2727272727vw;
  position: absolute;
  top: 0;
  left: -300%;
  transform: skewX(45deg);
  transition: 1s;
}
main .color > div > button:nth-child(2):after {
  content: '';
  background-color: #0000ff;
  width: 36.3636363636vw;
  height: 27.2727272727vw;
  position: absolute;
  top: 0;
  left: -300%;
  transform: skewX(45deg);
  transition: 1s;
  transition-delay: 0s;
}
main .color > div > button:nth-child(2):hover:before {
  transform: skewX(45deg) translateX(120%);
}
main .color > div > button:nth-child(2):hover:after {
  transform: skewX(45deg) translateX(120%);
  transition-delay: .4s;
}
main .color > div > button:nth-child(3) {
  background-color: #d8d8d8;
  position: relative;
  transition: all 1s;
  border: #d8d8d8;
  overflow: hidden;
}
main .color > div > button:nth-child(3):before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  border-radius: 18.1818181818vw;
  transform: scale(0);
  background: #ff0000;
  transition: 1s;
}
main .color > div > button:nth-child(3):hover::before {
  transform: scale(1);
}
main .color > div > button:nth-child(4) {
  transition: all .5s;
  position: relative;
  overflow: hidden;
  border: none;
}
main .color > div > button:nth-child(4):before {
  content: '';
  position: absolute;
  top: 0;
  left: -50%;
  width: 50%;
  height: 100%;
  background-color: #000;
  transition: .5s;
}
main .color > div > button:nth-child(4):after {
  content: '';
  position: absolute;
  top: 0;
  right: -50%;
  width: 50%;
  height: 100%;
  background-color: #000;
  transition: .5s;
}
main .color > div > button:nth-child(4):hover:before {
  transform: translateX(100%);
}
main .color > div > button:nth-child(4):hover:after {
  transform: translateX(-100%);
}
main .color_2 {
  background-color: #D4DCCD;
}
main .color_2 > div > button {
  position: relative;
  border-radius: 18.1818181818vw;
  background-color: #d8d8d8;
}
@media (min-width: 1400px) {
  main .color_2 > div > button {
    width: 25.5rem;
    height: 25.5rem;
    border-radius: 25.5rem;
  }
}
main .color_2 > div > button:nth-child(1) > span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: inherit;
  height: inherit;
  border-radius: inherit;
}
main .color_2 > div > button:nth-child(1):hover > span:nth-child(1) {
  background-color: #E60012;
  animation: sircle 1s linear 0s forwards;
  z-index: 7;
}
main .color_2 > div > button:nth-child(1):hover > span:nth-child(2) {
  background-color: #F39800;
  animation: sircle 1s linear .1s forwards;
  z-index: 6;
}
main .color_2 > div > button:nth-child(1):hover > span:nth-child(3) {
  background-color: #FFF100;
  animation: sircle 1s linear .2s forwards;
  z-index: 5;
}
main .color_2 > div > button:nth-child(1):hover > span:nth-child(4) {
  background-color: #009944;
  animation: sircle 1s linear .3s forwards;
  z-index: 4;
}
main .color_2 > div > button:nth-child(1):hover > span:nth-child(5) {
  background-color: #0068B7;
  animation: sircle 1s linear .4s forwards;
  z-index: 3;
}
main .color_2 > div > button:nth-child(1):hover > span:nth-child(6) {
  background-color: #1D2088;
  animation: sircle 1s linear .5s forwards;
  z-index: 2;
}
main .color_2 > div > button:nth-child(1):hover > span:nth-child(7) {
  background-color: #920783;
  animation: sircle 1s linear .6s forwards;
  z-index: 1;
}
main .color_2 > div > button:nth-child(2) {
  transition: all .5s;
  position: relative;
  z-index: 0;
  overflow: hidden;
}
main .color_2 > div > button:nth-child(2) > div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: inherit;
  height: inherit;
  border-radius: 18.1818181818vw;
  z-index: 1;
}
main .color_2 > div > button:nth-child(2) > div > span {
  transform: translateY(-101%);
  position: absolute;
  top: 0;
  height: inherit;
  z-index: 2;
  background: #000;
  border: 1px solid #000;
}
main .color_2 > div > button:nth-child(2) > div > span:nth-child(1) {
  width: 2.5974025974vw;
  left: 0;
}
main .color_2 > div > button:nth-child(2) > div > span:nth-child(2) {
  width: 2.5974025974vw;
  left: 2.5974025974vw;
}
main .color_2 > div > button:nth-child(2) > div > span:nth-child(3) {
  width: 2.5974025974vw;
  left: 5.1948051948vw;
}
main .color_2 > div > button:nth-child(2) > div > span:nth-child(4) {
  width: 2.5974025974vw;
  left: 7.7922077922vw;
}
main .color_2 > div > button:nth-child(2) > div > span:nth-child(5) {
  width: 2.5974025974vw;
  left: 10.3896103896vw;
}
main .color_2 > div > button:nth-child(2) > div > span:nth-child(6) {
  width: 2.5974025974vw;
  left: 12.987012987vw;
}
main .color_2 > div > button:nth-child(2) > div > span:nth-child(7) {
  width: 2.5974025974vw;
  left: 15.5844155844vw;
}
main .color_2 > div > button:nth-child(2):hover > div > span:nth-child(1) {
  animation: down .3s ease-in 0s forwards;
}
main .color_2 > div > button:nth-child(2):hover > div > span:nth-child(2) {
  animation: down .3s ease-in .2s forwards;
}
main .color_2 > div > button:nth-child(2):hover > div > span:nth-child(3) {
  animation: down .3s ease-in .4s forwards;
}
main .color_2 > div > button:nth-child(2):hover > div > span:nth-child(4) {
  animation: down .3s ease-in .6s forwards;
}
main .color_2 > div > button:nth-child(2):hover > div > span:nth-child(5) {
  animation: down .3s ease-in .8s forwards;
}
main .color_2 > div > button:nth-child(2):hover > div > span:nth-child(6) {
  animation: down .3s ease-in 1s forwards;
}
main .color_2 > div > button:nth-child(2):hover > div > span:nth-child(7) {
  animation: down .3s ease-in 1.2s forwards;
}
main .color_2 > div > button:nth-child(3) {
  position: relative;
  overflow: hidden;
}
main .color_2 > div > button:nth-child(3) > span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 9.0909090909vw;
  font-weight: bold;
}
main .color_2 > div > button:nth-child(3) > span:nth-child(1) {
  top: -50%;
}
main .color_2 > div > button:nth-child(3) > span:nth-child(2) {
  top: 150%;
}
main .color_2 > div > button:nth-child(3) > span:nth-child(3) {
  left: -50%;
}
main .color_2 > div > button:nth-child(3) > span:nth-child(4) {
  left: 150%;
}
main .color_2 > div > button:nth-child(3) > span:nth-child(5) {
  top: -50%;
}
main .color_2 > div > button:nth-child(3) > span:nth-child(6) {
  top: 150%;
}
main .color_2 > div > button:nth-child(3) > span:nth-child(7) {
  left: -50%;
}
main .color_2 > div > button:nth-child(3) > span:nth-child(8) {
  left: 150%;
}
main .color_2 > div > button:nth-child(3) > span:nth-child(9) {
  top: -50%;
}
main .color_2 > div > button:nth-child(3) > span:nth-child(10) {
  top: 150%;
}
main .color_2 > div > button:nth-child(3) > span:nth-child(11) {
  left: -50%;
}
main .color_2 > div > button:nth-child(3) > span:nth-child(12) {
  left: 150%;
}
main .color_2 > div > button:nth-child(3) > span:nth-child(13) {
  top: -50%;
}
main .color_2 > div > button:nth-child(3):hover > span:nth-child(1) {
  top: 150%;
  transition: 2s;
}
main .color_2 > div > button:nth-child(3):hover > span:nth-child(2) {
  top: -50%;
  transition: 2s;
  transition-delay: .5s;
}
main .color_2 > div > button:nth-child(3):hover > span:nth-child(3) {
  left: 150%;
  transition: 2s;
  transition-delay: 1s;
}
main .color_2 > div > button:nth-child(3):hover > span:nth-child(4) {
  left: -50%;
  transition: 2s;
  transition-delay: 1.5s;
}
main .color_2 > div > button:nth-child(3):hover > span:nth-child(5) {
  top: 150%;
  transition: 2s;
  transition-delay: 2s;
}
main .color_2 > div > button:nth-child(3):hover > span:nth-child(6) {
  top: -50%;
  transition: 2s;
  transition-delay: 3s;
}
main .color_2 > div > button:nth-child(3):hover > span:nth-child(7) {
  left: 150%;
  transition: 2s;
  transition-delay: 3.5s;
}
main .color_2 > div > button:nth-child(3):hover > span:nth-child(8) {
  left: -50%;
  transition: 2s;
  transition-delay: 4s;
}
main .color_2 > div > button:nth-child(3):hover > span:nth-child(9) {
  top: 150%;
  transition: 2s;
  transition-delay: 4.5s;
}
main .color_2 > div > button:nth-child(3):hover > span:nth-child(10) {
  top: -50%;
  transition: 2s;
  transition-delay: 5s;
}
main .color_2 > div > button:nth-child(3):hover > span:nth-child(11) {
  left: 150%;
  transition: 2s;
  transition-delay: 5.5s;
}
main .color_2 > div > button:nth-child(3):hover > span:nth-child(12) {
  left: -50%;
  transition: 2s;
  transition-delay: 6s;
}
main .color_2 > div > button:nth-child(3):hover > span:nth-child(13) {
  top: 50%;
  transition: 1s;
  transition-delay: 6.5s;
  animation: txt_up 1s ease 7.5s forwards;
}
main .color_2 > div > button:nth-child(4) {
  position: relative;
  overflow: hidden;
}
main .color_2 > div > button:nth-child(4) > span {
  position: absolute;
  width: 18.1818181818vw;
  height: 18.1818181818vw;
  border-radius: 18.1818181818vw;
  top: 50%;
  transform: translateY(-50%);
}
@media (min-width: 1400px) {
  main .color_2 > div > button:nth-child(4) > span {
    width: 25.5rem;
    height: 25.5rem;
    border-radius: 25.5rem;
  }
}
main .color_2 > div > button:nth-child(4) > span:nth-child(1) {
  left: -100%;
  background: #f2f4d1;
  z-index: 1;
}
main .color_2 > div > button:nth-child(4) > span:nth-child(2) {
  right: -100%;
  background: #b2d3be;
  z-index: 2;
}
main .color_2 > div > button:nth-child(4) > span:nth-child(3) {
  left: -100%;
  background: #89a3b2;
  z-index: 3;
}
main .color_2 > div > button:nth-child(4) > span:nth-child(4) {
  right: -100%;
  background: #5e6073;
  z-index: 4;
}
main .color_2 > div > button:nth-child(4) > div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: inherit;
  height: inherit;
  z-index: 5;
}
main .color_2 > div > button:nth-child(4) > div > span {
  position: absolute;
  top: -1.8181818182vw;
  border: 1px dashed #eee;
  height: 0;
}
main .color_2 > div > button:nth-child(4) > div > span:nth-child(1) {
  left: 20%;
}
main .color_2 > div > button:nth-child(4) > div > span:nth-child(2) {
  left: 60%;
}
main .color_2 > div > button:nth-child(4) > div > span:nth-child(3) {
  left: 80%;
}
main .color_2 > div > button:nth-child(4) > div > span > svg {
  position: absolute;
  bottom: -1.8181818182vw;
  width: 0;
  left: 50%;
  transform: translateX(-40%);
  fill: #FFF100;
}
@media (min-width: 1400px) {
  main .color_2 > div > button:nth-child(4) > div > span > svg {
    bottom: -2rem;
  }
}
main .color_2 > div > button:nth-child(4):hover > span {
  transition: .8s;
}
main .color_2 > div > button:nth-child(4):hover > span:nth-child(1) {
  transform: rotate(180deg) translateY(50%);
  transform-origin: center right;
  background: #f2f4d1;
  z-index: 1;
}
main .color_2 > div > button:nth-child(4):hover > span:nth-child(2) {
  transform: rotate(-180deg) translateY(50%);
  transform-origin: center left;
  transition-delay: .4s;
  background: #b2d3be;
  z-index: 2;
}
main .color_2 > div > button:nth-child(4):hover > span:nth-child(3) {
  transform: rotate(-180deg) translateY(50%);
  background: #89a3b2;
  transform-origin: center right;
  transition-delay: .8s;
  z-index: 3;
}
main .color_2 > div > button:nth-child(4):hover > span:nth-child(4) {
  transform: rotate(180deg) translateY(50%);
  transform-origin: center left;
  background: #5e6073;
  transition-delay: 1.2s;
  z-index: 4;
}
main .color_2 > div > button:nth-child(4):hover > div > span {
  transition: 1s;
  transition-delay: 1.6s;
}
main .color_2 > div > button:nth-child(4):hover > div > span:nth-child(1) {
  height: 50%;
}
main .color_2 > div > button:nth-child(4):hover > div > span:nth-child(2) {
  height: 70%;
}
main .color_2 > div > button:nth-child(4):hover > div > span:nth-child(3) {
  height: 60%;
}
main .color_2 > div > button:nth-child(4):hover > div > span > svg {
  transition: 1s;
  transition-delay: 2.6s;
  width: 1.8181818182vw;
  animation: star 3s linear 2.4s infinite;
}
@media (min-width: 1400px) {
  main .color_2 > div > button:nth-child(4):hover > div > span > svg {
    width: 2rem;
  }
}

.modal {
  margin: 0 auto;
  font-size: 2rem;
}
.modal .modal_bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 200vw;
  height: 200vh;
  opacity: 0;
}
.modal > div {
  width: 80rem;
  height: 70rem;
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: scroll;
  background: #212121;
  border-radius: 2rem;
}
.modal > div > div {
  width: 100%;
  padding: 2rem;
  position: relative;
  background: #e0edff;
}
.modal > div > div > p {
  margin: 0;
}
.modal > div > div:after {
  position: absolute;
  content: '';
  top: 100%;
  left: 30px;
  border: 15px solid transparent;
  border-top: 15px solid #e0edff;
  width: 0;
  height: 0;
}
.modal > div > pre {
  white-space: pre;
  background: #212121;
}
.modal > div > pre > code .file .tag {
  color: #FFF100;
}
.modal > div > pre > code .tag {
  color: #db18c8;
}
.modal > div > pre > code .atn {
  color: #f89eef;
}
.modal > div > pre > code > .pun {
  color: #eee;
}
.modal > div > pre > code > .pln {
  color: #fff;
}
.modal > div > pre > code > .com {
  color: aqua;
}

.fade50 {
  animation: fade_50 .5s ease forwards;
}

.fadeIn {
  animation: fade_in .5s ease forwards;
}

/********************************************************************************************
    *   all keyframes
********************************************************************************************/
@keyframes vibe {
  25% {
    transform: translateX(-5%);
  }
  75% {
    transform: translateX(5%);
  }
}
@keyframes rotate {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes sircle {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    transform: translate(-50%, -50%) scale(0);
  }
}
@keyframes down {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes txt_up {
  100% {
    transform: scale(20);
  }
}
@keyframes star {
  0% {
    transform: translateX(-40%) rotate(0);
  }
  100% {
    transform: translateX(-40%) rotate(360deg);
  }
}
@keyframes fade_50 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: .5;
  }
}
@keyframes fade_in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*# sourceMappingURL=style.css.map */
